:root {
    --color1: #fbefcc;
    --color2: #f9ccac;
    --color3: #f4a688;
    --color4: #e0876a;
    --gray: #858796;
    --gray-dark: #5a5c69;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.justify-content-center {
  justify-content: center !important;
}

.col-xl-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.border-0 {
  border: 0 !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.p-0 {
  padding: 0 !important;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.d-none {
  display: none !important;
}

.d-lg-block {
  display: block !important;
}

.bg-login-image {
  background: url("https://static.vecteezy.com/system/resources/previews/004/343/259/original/cute-puppy-or-dog-cartoon-illustration-animal-raising-hand-wildlife-icon-design-concept-isolated-flat-face-style-free-vector.jpg");
  background-position: center;
  background-size: cover;
}

.btn-primary {
  color: var(--color2);
  background-color: var(--color3);
  border-color: var(--color1);
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: var(--color1);
  background-clip: padding-box;
  border: 1px solid var(--color1);
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}